.login_container {
  height: 90vh;
  background: linear-gradient(0deg, #58A2BD, #58A2BD),
    linear-gradient(0deg, #000000, #000000);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.login-content-wrapper {
  display: flex;
  align-items: stretch;
  flex: 1;
}


.login-logo-image {
  height: 656px;
  width: 475px;
  margin-right: 0 !important;

}



.Form {
  height: 656px;
  width: 475px;
  background: #0E3848;
  /* top: 0.1%; */
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  /* margin-top: 190px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 5px solid rgba(255, 255, 255, 0.1);

}




  
  form * {
    font-family: "Poppins", sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    border-bottom: 1px solid dimgrey;
  }
  label {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
  }
  input {
    display: block;
    height: 50px;
    width: 90%;
    background-color: transparent !important;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid dimgray;
  }
  input:hover {
    border: 1px solid dimgray !important;
  }
  ::placeholder {
    color: dimgray !important;
  }
  .login-btn {
    margin-top: 50px;
    width: 100%;
    /* background: linear-gradient(to left, #ff512f, #1845ad); */
    padding: 15px;
    font-size: 18px;
    color: transparent!;
    border-radius: 6px;
    cursor: pointer;
    
}






