.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255, 0.15);
  width: 50%;
  padding: 40px 0;
}
.profile-pic {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.one-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  border-radius: 10px;
  padding: 5px;
}
.input:disabled {
  border-radius: 10px;
  padding: 5px;
  background-color: aqua;
}
