.td_username {
  font-style: italic;
  font-weight: 300;
}

.td_gender {
  text-transform: capitalize;
  font-size: 14px;
}

.td_age,
.td_bmi,
.td_date,
.td_health_status {
  font-size: 14px;
}

.td_save-btn {
  border: 0.5px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
}

.td_input-checkbox {
  accent-color: #3e4396;
  cursor: pointer;
}
