.workout_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.margin-60 {
  margin-top: 60px;
}

.workout_table-container {
  height: 75vh;
  color: lightgray;
}

.MuiDataGrid-root {
  border: none !important;
}

.MuiDataGrid-cell {
  border-bottom: none;
  color: lightgray;
}

.MuiDataGrid-row {
  border-top: 0.5px solid #3e4396;
}

.name-column--cell {
  color: #94e2cd !important;
}

.MuiDataGrid-columnHeaders {
  background-color: #3e4396;
  color: lightgray;
  border-bottom: none !important;
}

.MuiDataGrid-cellContent {
  color: lightgray;
}

.MuiButtonBase-root {
  color: lightgray !important;
}

.MuiDataGrid-virtualScroller {
  background-color: transparent;
}

.MuiDataGrid-footerContainer {
  background-color: #3e4396;
  border-top: none !important;
}

.MuiCheckbox-root {
  color: lightgray !important;
}

.MuiToolbar-root {
  color: lightgray;
}

.MuiMenuItem-root {
  color: #3e4396 !important;
}

.no_workout_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 16px;
}

.no_workout-header {
  font-size: 40px;
  color: #969ea0;
}

.no_workout-link {
  color: #78ce91;
  font-size: 18px;
}
