.reset-container {
  display: flex;
  justify-content: center;
  padding: 80px;
  position: relative;
}

.reset-container::before,
.reset-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 51.32%;
  height: 100%;
}

.reset-container::before {
  left: 0;
  background-color: #58a2bd;
}

.reset-container::after {
  right: 0;
  background-color: #346d87;
}

.reset-wrapper {
  position: relative;
  z-index: 1;
}

.reset-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  position: relative;
}

.reset-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: #0e3848;
  border-radius: 0 24px 24px 0;
  z-index: -1;
}

.image-container {
  border-radius: 24px 0px 0px 24px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-image-container-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.form-re-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding-left: 30px;
}

.form-re-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 20px;
}

.form-re-container h2:first-of-type {
  color: var(--neutral-100, #e7ebec);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 145.023%;
}

.reset-btn {
  color: #78ce91;
  background-color: #0e3848;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145.023%;
  display: flex;
  justify-content: center;
  padding: 5px 114px;
  align-items: center;
  gap: 24px;
  border-radius: 7px;
  border: 1px solid var(--signup-color, #78ce91);
}

.reset-btn:hover {
  color: #fff;
  background-color: #28bb7b;
  transition: all 0.5s ease-in;
  cursor: pointer;
  border-color: #fff;
}

.or {
  position: relative;
  width: 270px;
  height: 12px;
  top: 5px;
  line-height: 1px;
  text-align: center;
}

.or::before,
.or::after {
  position: absolute;
  width: 120px;
  height: 1px;
  background-color: #aaa;
  content: "";
}

.or::before {
  left: 0;
}

.or::after {
  right: 0;
}

.have-account {
  font-style: italic;
  font-size: small;
  color: #969ea0;
}

.login {
  font-style: normal;
  color: #007bff;
}

.login:hover {
  color: rgb(4, 135, 30);
}
