.navbar-container {
  position: relative;
  padding: 16px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.navbar-logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.navbar-logo-name {
  font-size: 28px;
  font-weight: bold;
}

.navbar-logo-subname {
  font-weight: 400;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 48px;
  font-size: 18px;
}

.navbar-links a {
  color: #969ea0;
  transition: all 0.5s ease;
}

.navbar-links a:hover,
.navbar-links a:focus {
  color: #fff;
}

.logon-options {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logon-btn {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 24px;
  cursor: pointer;
}

.login-option {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.5s ease-in;
}

.login-option:hover {
  background: #78ce91;
}

.signup-option {
  background: #78ce91;
  border: 1px solid #78ce91;
  color: #000;
  transition: all 0.5s ease-in;
}

.signup-option:hover {
  background: transparent;
  color: #78ce91;
}

/* User profile */
.user_profile {
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
}

.user_profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.user_profile-container {
  position: absolute;
  top: 74px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  padding: 24px 48px;
  z-index: 2;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.user_profile-link {
  font-size: 16px;
  transition: all 0.5s ease-in;
}

.user_profile-link:hover {
  color: #969ea0;
}

.user_profile-btn {
  border: 1px solid #ef466f;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in;
  color: #fff;
  background: #ef466f;
}

.user_profile-btn:hover {
  background: transparent;
  color: #ef466f;
}

@media (max-width: 480px) {
  .navbar-container {
    justify-content: space-between;
  }

  .navbar-links {
    display: none;
  }

  .user_profile,
  .logon-options {
    display: none;
  }
}
