.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 375px;
    height: 456px;
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    border-radius: 24px 0px 0px 24px;
    border-top: 2px solid var(--primary-700, #0E3848);
    border-bottom: 2px solid var(--primary-700, #0E3848);
    border-left: 2px solid var(--primary-700, #0E3848);
    background: url("../../assets/signup image.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.form-container {
    width: 375px;
    height: 456px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0px 24px 24px 0px;
background: var(--primary-700, #0a2631);
}

h2 {
    color: var(--neutral-100, #E7EBEC);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 145.023%; /* 81.213px */
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    display: flex;
    width: 272px;
    padding: 6px 120px 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--neutral-400, #969EA0);
}

button {
    color: #78CE91;
    background-color: #0E3848;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145.023%; /* 23.204px */
    display: flex;
    padding: 8px 107px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 7px;
    border: 1px solid var(--signup-color, #78CE91);
}

button:hover {
    cursor: pointer;
    color: #0E3848;
    background-color: #007BFF;
    border-color: #051a23;
}

.or-divider {
    display: flex;
    align-items: center;
}

.or-divider hr {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0;
}

.google-signup {
    display: flex;
    padding: 8px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid var(--neutral-400, #969EA0);
}

.google-signup p {
    display: flex;
    padding: 8px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login {
    color: #007BFF;
    text-decoration: none;
}

.login:hover {
    color: #78CE91;
}
