.signup-container {
  display: flex;
  justify-content: center;
  padding: 80px;
  position: relative;
}

.signup-container::before,
.signup-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 51.53%; 
  height: 100%;
}

.signup-container::before {
  left: 0;
  background-color: #58a2bd;
}

.signup-container::after {
  right: 0;
  background-color: #346D87; 
}

.signup-wrapper {
  position: relative;
  z-index: 1;
}

.signup-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  position: relative; 
}

.signup-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60%; 
  height: 100%;
  background-color: #0e3848; 
  border-radius: 0 24px 24px 0; 
  z-index: -1;
}

.image-container {
  border-radius: 24px 0px 0px 24px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-image-container-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding-left: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.form-container h2:first-of-type {
    color: var(--neutral-100, #E7EBEC);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 145.023%;
}

input {
  display: flex;
  width: 272px;
  padding: 6px 120px 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #0e3848;
  border-radius: 8px;
  border: 1px solid var(--neutral-400, #969ea0);
}

input:focus {
  background-color: #fff;
}

button {
  color: #78ce91;
  background-color: #0e3848;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145.023%;
  display: flex;
  justify-content: center;
  padding: 5px 110px;
  align-items: center;
  gap: 24px;
  border-radius: 7px;
  border: 1px solid var(--signup-color, #78ce91);
}

button:hover {
  color: #fff;
  background-color: #28bb7b;
  transition: all 0.5s ease-in;
  cursor: pointer;
  border-color: #fff;
}

#or {
  position: relative;
  width: 270px;
  height: 12px;
  top: 5px;
  line-height: 2.5px;
  text-align: center;
}

#or::before,
#or::after {
  position: absolute;
  width: 118px;
  height: 2px;
  background-color: #aaa;
  content: '';
}

#or::before {
  left: 0;
}

#or::after {
  right: 0;
}

.google-signup {
  display: flex;
  padding: 6px 100px;
  cursor: pointer;
  background-color: #0e3848;
  border-radius: 12px;
  border: 2px solid var(--neutral-400, #969EA0);/*not sure abut this*/

}

.google-signup p:first-of-type {
  font-size: 16px;
  font-style: normal;
  line-height: 145.023%;
}

.google-icon {  
  padding: 2px;  
}

.have-account {
  font-style: italic;
  font-size: small;
  color: #969EA0;
}

.login {
  font-style: normal;
    color: #007BFF;
}

.login:hover {
    color: rgb(4, 135, 30);
}