.home_hero-section {
  position: relative;
}

.hero_section-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hero_section-intro {
  font-size: 72px;
  font-weight: 300;
  line-height: 84px;
}

.hero_section-intro-span {
  font-weight: 700;
}

.hero_section-welcome {
  font-size: 16px;
  max-width: 480px;
  color: #e7ebec;
}

.hero_section-get-started {
  background: #78ce91;
  border: 1px solid #e7ebec;
  color: #e7ebec;
  width: fit-content;
  padding: 12px 28px;
  border-radius: 16px;
  font-size: 18px;
  transition: all 0.5s ease-in;
}

.hero_section-get-started:hover {
  background: transparent;
  color: #78ce91;
  border: 1px solid #78ce91;
}

.hero_section-endorsed {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.endorsed_by-title {
  font-size: 16px;
  font-weight: normal;
}

.endorsed_by-img-container {
  display: flex;
  align-items: center;
  gap: 56px;
}

.endorsed_brand {
  height: 32px;
  opacity: 0.5;
}

.hero_section-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
}

.clean_design-design {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.design_desc-wrapper {
  border: 1px solid blueviolet;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.design_component {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.design_component-number {
  padding: 2px 10px;
  background: #9757d7;
  width: 38px;
  height: 24px;
  font-size: 14px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.design_component-desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.design_component-desc-header {
  font-size: 16px;
  font-weight: 700;
}

.design_component-desc-body {
  font-size: 14px;
  line-height: 24px;
  color: #777e90;
}

.design_img-wrapper {
  border: 1px solid yellow;
  flex: 2.5;
}
